<div style="text-align:center; background-color: blue; width: 500px; margin: auto; padding-bottom: 20px">
	<h1>Fiche de contact</h1>
	<img src="{{ User.photo }}" alt="photo du contact">
	<p>Nom : {{ User.name }}</p>
	<p>Prénom : {{ User.firstName }}</p>
	<p *ngIf="allo==true">Age : {{ User.age }}</p>
	<button (click)="onClickMe()">Afficher ou masquer l'âge</button>
	<p>Citation : {{ User.quote }}</p>
	<input [(ngModel)]="User.quote" type="text" name="champ">
</div>
<button (click)="changement()">Afficher (via la variable showMovies) la liste ou pas !</button>
<div *appMerciAlexLaBalance="showMovies">
	<ul>
		<li appExcuseMoiJN>Movie : Titanic</li>
		<li>Movie : Casablanca</li>
		<li>Movie : High Noon</li>
		<li>Movie : Raging Bull</li>
	</ul>
</div>